.CadreLogin {
    background-color: rgb(34, 34, 34);
    width: 360px;
    height: 540px;
    border: 1px solid rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.PseudoPasswordInput {
    width: 100%;
    padding: 14px;
    background: rgb(24, 24, 24);
    border: 1px solid rgb(47, 47, 47);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    line-height: 19px;
}

EntreButton {
    margin-top: 5px;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    border: none;
    cursor: pointer;
    background: #00578a;
}