.TopBar {
    top: 0;
    z-index: 1500;
    width: 100%;
    height: 62px;
    background: rgba(0, 0, 0, 0.5);
    font-family: proxima nova;
    position: fixed;
}

.TopLogo {
    width: 100%;
    position: absolute;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.IconLogo {
    margin-right: 50%;
}

.TextLogo {
    margin-left: -190px;
}

.MainLogo {
    height: 50px;
}

.LoginButton {
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    border: none;
    cursor: pointer;
    background: rgb(51, 51, 51);
}

.RegisterButton {
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    border: none;
    cursor: pointer;
    background: rgb(51, 51, 51);
}